


header {
  display: flex;
  align-items: center; /* Vertically center */
  }
  .name {
  font-size: 24px;
  font-weight: bold;
  }
  nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  }
  nav li {
  margin-left: 20px;
  }
